:root:not([customizing]) #back-button,
:root:not([customizing]) #forward-button {
  display: none !important;
}

:root:not([customizing]) #zen-sidebar-top-buttons-separator {
  flex: 1 1 auto !important;
}

@media (-moz-bool-pref: "mod.bfah.hide_refresh_button") {
  :root:not([customizing]) #reload-button {
    display: none !important;
  }
}
